CASE_SWDEP.pro.user
Makefile
MainForm/object_script.MainForm.Release
MainForm/object_script.MainForm.Debug
MainForm/Makefile.Release
MainForm/Makefile.Debug
MainForm/Makefile
MainForm/MainForm.pro.user
MainForm/release/*
MainForm/debug/*
Postgresql/debug/*
Postgresql/release/*
Postgresql/Makefile
Postgresql/Makefile.Debug
Postgresql/Makefile.Release
Sqlite/debug/*
Sqlite/release/*
Sqlite/Makefile
Sqlite/Makefile.Debug
Sqlite/Makefile.Release